Django==1.4.2
Fabric==1.4.3
PIL==1.1.7
South==0.7.6
distribute==0.6.19
django-crowdsourcing==1.1.37
django-guardian==1.0.4
django-userena==1.1.2
easy-thumbnails==1.1
psycopg2==2.4.5
pycrypto==2.6
ssh==1.7.14
wsgiref==0.1.2
sorl-thumbnail==3.2.5
flickrapi==1.4.2
geopy==0.94.2
-e git://github.com/jpwatts/django-positions.git#egg=django-positions
